/* for testing */
/* * {
    border: 1px solid gold;
 } */

/* BONUS - Better alignment of inline elements. */
.weather div {
    display: flex; 
    background-color: midnightblue;
}

.weather div h3 {
    font-style: italic;
    color: lightblue;
    padding-left: 10px;
}

.weather div p {
    margin: 0 auto;
    color: lightblue;
}

.breaking-news img {
    text-align: center;
    border: 1px solid blue;
}

.below-the-fold {
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 20px;
}

.below-the-fold div {
    background-color: lightgrey;
    padding: 30px;
    border: 20px double white;
}

.below-the-fold article img {
    border: 10px outset violet;
    border-radius: 300px;
    height: 200px;
    background-color: black;
}


.below-the-fold div h2 {
    color: violet;
    background-color: rebeccapurple;
    padding: 10px;
    text-decoration: underline;
}

.below-the-fold div p {
    /* border: 1px solid green; */
    text-align: justify;
    background-color: violet;
    opacity: 80%;
    border-radius: 15px;
    padding: 20px;
    color: white;
}

footer div {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    gap: 10px 20px;
}

footer h5 {
    font-size: 24px;
    text-decoration: underline;
    background-color: violet;
    border-bottom-right-radius: 15px;
    color: white;
    padding: 0px 10px 10px 50px;
    display: inline;
}

footer div ul span {
    color: violet;
    font-size: 20px;
    font-style: italic;
}
