p{
  font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: serif;
  text-align: center;
}

a{
  text-decoration-line: none;
  color: #4242EA;
}
li{
  list-style-image: none;
}
footer span{
  font-weight: 700;
}
.weather p{
  font-size: 40px;
}
.above-the-fold article{
  display: inline-block;
}
.weather{
  width: 300px;
  border: 2px solid rgb(128, 128, 128);

}
/* .weather article{
} */
.breaking-news{
  padding: 0px 30px;
}
.breaking-news img{
  width: 200px;
}


.below-the-fold img{
  display: inline-block;
  margin: 16px;
  padding: 16px;
  width: 200px;
}
.below-the-fold div{
  width: 500px;
}
section{
  text-align: center;
}
.click-bait{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.above-the-fold{
  display: grid;
  grid-template-columns: 1fr 2fr;

}
.click-bait article{
  display: inline-block;
  width: 250px;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
}
footer div{
  display: flex;
  justify-content: space-evenly;
}