/* * {
    border: 1px solid gold;
} */

p {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    text-align: center;

}

p a {
    text-decoration-line: none;
    color: #4242EA;
}

ul {
    list-style-image: none;
}

span {
    font-weight: 700;
}

.weather p {
    font-size: 40px;
    width: 300px;
    box-sizing: border-box;
}

.above-the-fold article {
    display: inline-block;
}

.weather {
    border: 2px solid gray;
}

.breaking-news {
    padding: 0px 30px 0px 30px;
}

img {
    width: 200px;
}

.click-bait {
    display: inline-block;
}

.click-bait article {
    display: inline-block;
    width: 250px;
    margin: 16px;
    padding: 16px 16px 16px 16px;
    box-sizing: border-box;
}

.below-the-fold article {
    display: inline-block;
}

.below-the-fold img {
    display: inline-block;
    padding: 16px 16px 16px 16px;
    margin: 16px;
    width: 200px;
}

.below-the-fold div {
    width: 500px;
}

