p{
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: serif;
    text-align: center;
}
a{
    text-decoration-line: none;
    color: #4242EA;
}
footer li span{
    font-weight: 700;
}
.weather p{
    font-size: 40px;
}
.above-the-fold article{
    display: inline-block;
}
article.weather {
    width: 300px;
    border: 2px solid rgb(128, 128, 128);
}
article.breaking-news {
    padding: 0px 30px;
    display: inline-block;
}
.breaking-news img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.click-bait article{
    display: inline-block;
    width: 250px;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
}
.below-the-fold img{
    display: inline-block;
    margin: 16px;
    padding: 16px;
    width: 200px;

}
.below-the-fold div{
    width: 500px;
}
.weather div{
    display: inline;
}
.below-the-fold p{
    display: inline;
    text-align: right;
}
