p {
    font-family: sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: serif;
    text-align: center;
    
  }
  
  a {
    text-decoration-line: none;
    color: rgb(66, 66, 234);
  }
  
  ul li {
    list-style-image: none;
  }
  
  footer span {
    font-weight: 700;
  }
  
  .weather p {
    font-size: 40px;
  }
  
  .above-the-fold article {
    display: inline-block;
  }
  
  .weather {
    width: 300px;
    border: 2px solid rgb(128, 128, 128);
  }
  
  .breaking-news {
    padding: 0px 30px;
    margin: 20px;
  }
  
  .breaking-news img {
    width: 200px;
  }
  
  .click-bait article {
    display: inline-block;
    width: 250px;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
  }
  
  .below-the-fold img {
    display: inline-block;
    margin: 16px;
    padding: 16px;
    width: 200px;
  }
  
  .below-the-fold div {
    width: 500px;
  }