p {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    text-align: center;
}

p a {
    text-decoration: none;
    color: #4242ea
}

ul {
    list-style: none;
}

footer span {
    font-weight: 700;
}

.weather {
    font-size: 40px;
    width: 300px;
    border: 2px solid gray;
}

.above-the-fold article {
    display: inline-block;
}

.breaking-news {
    padding: 0px 30px;
}

.breaking-news img {
    width: 200px;
}

.click-bait article {
    display: inline-block;
    width: 250px;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.below-the-fold {
display: inline-block;
}

.below-the-fold img {
    display: inline-block;
    padding: 16px;
    margin: 16px;
    width: 200px;
}

.below-the-fold div {
    width: 500px;
}