p{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: serif;
    text-align: center;
}

a{
text-decoration: none;
color: #4242EA
}

ul{
    list-style: none;
}

span{
font-weight: 700;
}

.weather{
    font-size: 40px;
    width: 300px;
    border: 2px solid gray;
}

.above-the-fold article{
    display: inline-block;
}

.breaking-news{
    padding: 0px 30px 0px 30px;
}

.breaking-news img{
    width: 200px
}

.click-bait article{
    width: 250px;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
    display: inline-block;
}

.below-the-fold article{
    display: inline-block;
}

.below-the-fold img{
    margin: 16px;
    padding: 16px;
    display: inline-block;
    width: 200px;
}

.below-the-fold div{
    width: 500px
}